.movie-page {
    margin-top: 50px;
    padding: 0 100px;
    &__header {
        min-width: 360px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 45px;
        &-title {
            display: inline;
            color: #ffea70;
        }
        &-rating {
            display: flex;
            align-items: center;
            img {
                margin-left: 10px;
            }
        }
    }
    &__body {
        p {
            display: inline;
            color: white;
            margin-left: 10px;
        }
    }
    &__info-block {
        margin-bottom: 20px;
    }
    &__poster {
        width: 400px;
        height: 600px;
    }
    &__body-info {
        display: flex;
        margin-top: 50px;
    }
    &__about {
        font-size: 30px;
        margin-left: 60px;
        span {
            font-size: 35px;
        }
    }
}

.genre-link {
    text-decoration: underline;
}