.reviews-list {
    margin-top: 60px;
    &__item {
        display: flex;
        color: white;
        &-avatar {
            width: 70px;
            height: 70px;
        }
        &-header {
            display: flex;
        }
    }
}
